# Node / Frontend
node_modules/
dist/
coverage/
npm-debug.log*
.yarn/*
.pnpm-debug.log*
.vite/
.sass-cache/
.sourcemaps/
.versions/

# Ionic / Cordova / Capacitor
/platforms/
/plugins/
/www/
/.ionic/

# Tauri
/target/
/gen/schemas

# Database
*.db
*.sqlite
*.sqlite3

# Environment files
.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS / System
.DS_Store
Thumbs.db
$RECYCLE.BIN/
UserInterfaceState.xcuserstate

# Logs
*.log
log.txt

# Temporary files
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
